{{generated_license}}

##################################################################################
## IAMMember - Pipeline Runner Service Account
##################################################################################

resource "google_project_iam_member" "pipeline_sa_aiplatform_user" {
  project = local.project_id
  role    = "roles/aiplatform.user"
  member  = "serviceAccount:${google_service_account.pipeline_service_account.email}"

  depends_on = [
  google_service_account.pipeline_service_account
  ]
}

resource "google_project_iam_member" "pipeline_sa_artifactregistry_reader" {
  project = local.project_id
  role    = "roles/artifactregistry.reader"
  member  = "serviceAccount:${google_service_account.pipeline_service_account.email}"

  depends_on = [
  google_service_account.pipeline_service_account
  ]
}

resource "google_project_iam_member" "pipeline_sa_bigquery_user" {
  project = local.project_id
  role    = "roles/bigquery.user"
  member  = "serviceAccount:${google_service_account.pipeline_service_account.email}"

  depends_on = [
  google_service_account.pipeline_service_account
  ]
}

resource "google_project_iam_member" "pipeline_sa_bigquery_data_editor" {
  project = local.project_id
  role    = "roles/bigquery.dataEditor"
  member  = "serviceAccount:${google_service_account.pipeline_service_account.email}"

  depends_on = [
  google_service_account.pipeline_service_account
  ]
}

resource "google_project_iam_member" "pipeline_sa_srvs_acc_user" {
  project = local.project_id
  role    = "roles/iam.serviceAccountUser"
  member  = "serviceAccount:${google_service_account.pipeline_service_account.email}"

  depends_on = [
  google_service_account.pipeline_service_account
  ]
}

resource "google_project_iam_member" "pipeline_sa_storage_admin" {
  project = local.project_id
  role    = "roles/storage.admin"
  member  = "serviceAccount:${google_service_account.pipeline_service_account.email}"

  depends_on = [
  google_service_account.pipeline_service_account
  ]
}

resource "google_project_iam_member" "pipeline_sa_run_admin" {
  project = local.project_id
  role    = "roles/run.admin"
  member  = "serviceAccount:${google_service_account.pipeline_service_account.email}"

  depends_on = [
  google_service_account.pipeline_service_account
  ]
}

##################################################################################
## IAMMember - Cloud Build Runner Service Account
##################################################################################

resource "google_project_iam_member" "cloudbuild_sa_run_admin" {
  project = local.project_id
  role    = "roles/run.admin"
  member  = "serviceAccount:${google_service_account.cloudbuild_service_account.email}"

  depends_on = [
  google_service_account.cloudbuild_service_account
  ]
}

resource "google_project_iam_member" "cloudbuild_sa_srvs_acc_user" {
  project = local.project_id
  role    = "roles/iam.serviceAccountUser"
  member  = "serviceAccount:${google_service_account.cloudbuild_service_account.email}"

  depends_on = [
  google_service_account.cloudbuild_service_account
  ]
}

resource "google_project_iam_member" "cloudbuild_sa_cloudtasks_enq" {
  project = local.project_id
  role    = "roles/cloudtasks.enqueuer"
  member  = "serviceAccount:${google_service_account.cloudbuild_service_account.email}"

  depends_on = [
  google_service_account.cloudbuild_service_account
  ]
}

resource "google_project_iam_member" "cloudbuild_sa_cloudsched_admin" {
  project = local.project_id
  role    = "roles/cloudscheduler.admin"
  member  = "serviceAccount:${google_service_account.cloudbuild_service_account.email}"

  depends_on = [
  google_service_account.cloudbuild_service_account
  ]
}
