{{generated_license}}
artifact_repo_location				        = "{{artifact_repo_location}}"
artifact_repo_name				            = "{{artifact_repo_name}}"
build_trigger_location				        = "{{build_trigger_location}}"
build_trigger_name				            = "{{build_trigger_name}}"
pipeline_job_runner_service_account_short   = "{{pipeline_job_runner_service_account.split('@')[0]}}"
pipeline_job_submission_service_location	= "{{pipeline_job_submission_service_location}}"
pipeline_job_submission_service_name	 	= "{{pipeline_job_submission_service_name}}"
project_id					                = "{{project_id}}"
provision_credentials_key                   = {% if provision_credentials_key is none %}null{% else%}"{{provision_credentials_key}}"{% endif %}
pubsub_topic_name				            = "{{pubsub_topic_name}}"
schedule_location				            = "{{schedule_location}}"
schedule_name					            = "{{schedule_name}}"
schedule_pattern				            = "{{schedule_pattern}}"
source_repo_branch				            = "{{source_repo_branch}}"
source_repo_name				            = "{{source_repo_name}}"
storage_bucket_location				        = "{{storage_bucket_location}}"
storage_bucket_name				            = "{{storage_bucket_name}}"
vpc_connector				                = "{{vpc_connector}}"