{{generated_license}}
terraform {
  required_version = ">= 0.13"
  required_providers {
    google = {
      source  = "hashicorp/google"
      version = "< 5.0"
    }
    google-beta = {
      source  = "hashicorp/google-beta"
      version = "< 5.0"
    }
  }
  backend "gcs" {
    bucket =  "{{storage_bucket_name}}-bucket-tfstate"
    prefix = "terraform/state"
  }
}