{{generated_license}}
project_id					                = "{{project_id}}"
storage_bucket_location				        = "{{storage_bucket_location}}"
storage_bucket_name				            = "{{storage_bucket_name}}-bucket-tfstate"