{{generated_license}}

terraform {
  backend "remote" {
    organization = "***" ## provided by customer
    workspaces {
      name = "{{workspace_name}}" ## provided by customer
    }
  }
}

/******************************************
  Locals
*****************************************/
locals {
  project_id        = "{{project_id}}"'

  naming_convention = {
    platform_name   = "gcp-automlops"
    app             = "{{pipeline_model_name}}"
  }

  org_project = {
    billing_account = "***"
    folder          = "folders/***"
    region          = "{{region}}"

    enable_apis = [
      "aiplatform.googleapis.com",
      "artifactregistry.googleapis.com",
      "cloudbuild.googleapis.com",
      "cloudresourcemanager.googleapis.com",
      "cloudscheduler.googleapis.com",
      "cloudtasks.googleapis.com",
      "compute.googleapis.com",
      "iam.googleapis.com",
      "iamcredentials.googleapis.com",
      "ml.googleapis.com",
      "run.googleapis.com",
      "storage.googleapis.com",
      "sourcerepo.googleapis.com",
      "bigquery.googleapis.com",
      "logging.googleapis.com",
      "monitoring.googleapis.com",
      "pubsub.googleapis.com",
      "secretmanager.googleapis.com",
      "dataflow.googleapis.com",
      "datacatalog.googleapis.com",
      "composer.googleapis.com",
      "dataform.googleapis.com",
      "retail.googleapis.com",
      "recommendationengine.googleapis.com",
      "notebooks.googleapis.com",
      "storage-component.googleapis.com",
      "visionai.googleapis.com",
    ]
  }
}
