{{generated_license}}

module "{{pipeline_model_name}}_{{gcs_bucket_name}}" {
  source     = "terraform-google-modules/cloud-storage/google"
  version    = "~> 3.4"
  project_id = local.project_id
  prefix     = local.project_id
  location   = "US"
  names      = ["{{gcs_bucket_name}}"]
}


resource "google_service_account" "pipeline_service_account" {
  project      = local.project_id
  display_name = "Pipeline Runner Service Account"
  account_id   = var.pipeline_runner_sa
  description  = "For submitting PipelineJobs"

  depends_on = []
}

resource "google_service_account" "cloudbuild_service_account" {
  project      = local.project_id
  display_name = "Cloud Build Runner Service Account"
  account_id   = var.cloudbuild_runner_sa
  description  = "For submitting Cloud Build Jobs"

  depends_on = []
}

resource "google_artifact_registry_repository" "{{pipeline_model_name}}_{{artifact_repo_name}}" {
  project       = local.project_id
  location      = "{{region}}"
  repository_id = "{{artifact_repo_name}}"
  description   = "Docker artifact repository"
  format        = "DOCKER"

  depends_on = []
}

resource "google_sourcerepo_repository" "{{pipeline_model_name}}_{{source_repo_name}}" {
project = local.project_id
name    = "{{source_repo_name}}"

depends_on = []
}

resource "google_cloud_tasks_queue" "{{pipeline_model_name}}_{{cloudtasks_queue_name}}" {
  project    = local.project_id
  name       = "{{cloudtasks_queue_name}}"
  location   = "{{region}}"
  depends_on = []
}
resource "google_cloudbuild_trigger" "{{pipeline_model_name}}_{{cloud_build_trigger_name}}" {
  project         = local.project_id
  name            = "{{cloud_build_trigger_name}}"
  location        = "{{region}}"
  service_account = google_service_account.cloudbuild_service_account.id

  trigger_template {
    branch_name = "main"
    project_id  = local.project_id
    repo_name   = google_sourcerepo_repository.{{pipeline_model_name}}_{{source_repo_name}}.name
  }

  filename   = "cloudbuild.yaml"
  depends_on = [
    google_service_account.cloudbuild_service_account,
    google_project_iam_member.cloudbuild_sa_run_admin,
    google_project_iam_member.cloudbuild_sa_srvs_acc_user,
    google_project_iam_member.cloudbuild_sa_cloudtasks_enq,
    google_project_iam_member.cloudbuild_sa_cloudsched_admin
  ]
}

