{{generated_license}}

variable "{{creds_tf_var_name}}" {
  description = "Credentials json key to access google project"
  type        = string
  default     = ""
}

variable "pipeline_runner_sa" {
  description = "Name of pipeline runner service account"
  type        = string
  default     = "pipeline-runner-sa"
}

variable "cloudbuild_runner_sa" {
  description = "Name of cloud build runner service account"
  type        = string
  default     = "cloudbuild-runner-sa"
}
