{{generated_license}}
##################################################################################
## IAMMember - Pipeline Job Runner Service Account
##################################################################################

resource "google_service_account" "pipeline_job_runner_service_account" {
  project                 = var.project_id
  account_id              = var.pipeline_job_runner_service_account_short
  display_name            = "Pipeline Runner Service Account"
  description             = "For submitting PipelineJobs"

  depends_on = [module.google_project_service,time_sleep.wait_60_seconds]
}

resource "google_project_iam_member" "pipeline_job_runner_service_account_iam" {
  for_each = toset(local.org_project.pipeline_runner_service_account_iam_list)
  project = var.project_id
  role = each.key
  member  = "serviceAccount:${google_service_account.pipeline_job_runner_service_account.email}"

  depends_on = [google_service_account.pipeline_job_runner_service_account]
}
