{{generated_license}}
name: 'Build Custom Images for Vertex Pipeline'
on:
  push:
    branches:
      - '{{source_repo_branch}}'

jobs:
  deploy: 
    name: "Image Build, Push, Deploy & Publish PipelineJob"
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # ==============================================================================
      # Relevant roles for the service account running the pipeline:
      # - roles/artifactregistry.writer
      # - roles/pubsub.publisher
      # - roles/iam.workloadIdentityUser
      # - roles/storage.admin
      # ==============================================================================      
      - name: Google Auth
        id: auth
        uses: 'google-github-actions/auth@v2'
        with:
          token_format: 'access_token'
          workload_identity_provider: 'projects/{{project_number}}/locations/global/workloadIdentityPools/{{workload_identity_pool}}/providers/{{workload_identity_provider}}' # e.g. - projects/123456789/locations/global/workloadIdentityPools/my-pool/providers/my-provider 
          service_account: '{{workload_identity_service_account}}'     # e.g. - my-service-account@my-project.iam.gserviceaccount.com

      - name: Set up Cloud SDK
        id: setup-gcloud
        uses: 'google-github-actions/setup-gcloud@v1'
        with:
          version: '>= 363.0.0'
  
      - name: Setup Python
        id: setup-python
        uses: actions/setup-python@v4
        with:
            python-version: '3.10'

      - name: Docker Auth
        id: docker-auth
        uses: 'docker/login-action@v1'
        with:
          username: 'oauth2accesstoken'
          {% raw %}
          password: '${{ steps.auth.outputs.access_token }}'
          registry: '{% endraw %}{{ artifact_repo_location }}{% raw %}-docker.pkg.dev' 
          {% endraw %}
      # ==============================================================================
      # BUILD AND PUSH CUSTOM IMAGES
      # ==============================================================================
      - name: Build, tag, push base image
        id: build-push-component-base
        uses: docker/build-push-action@v3
        with:
          context: {{component_base_relative_path}}
          push: true
          tags: |
            {{artifact_repo_location}}-docker.pkg.dev/{{project_id}}/{{artifact_repo_name}}/{{naming_prefix}}/components/component_base:latest
{% if use_ci %}
      - name: Install dependencies
        id: install-pipeline-deps
        run: | 
          pip install -r pipelines/requirements.txt --user
      
      - name: Build a pipeline spec
        id: build-pipeline-spec
        run: python -m pipelines.pipeline --config configs/defaults.yaml
      
      - name: Publish PipelineJob to topic
        id: publish-to-topic
        shell: bash
        run: |
          gcloud pubsub topics publish {{pubsub_topic_name}} --message \
          "$(cat {{generated_parameter_values_path}})"
{% endif %}   
